<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GroupingRadioButtons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GroupingRadioButtons.Properties.Settings>
            <setting name="ArchivedPath" serializeAs="String">
                <value>C:\Users\smishra\Documents\My Box Files\Technical\Algorithm &amp; Data Structures\GroupingRadioButtons\GroupingRadioButtons\Helper\Log.db3</value>
            </setting>
        </GroupingRadioButtons.Properties.Settings>
    </userSettings>
</configuration>